<Template name="bannerbottom">
<!--banner-bottom-->
	<div class="banner-bottom">
		<div class="bnr-btm-left">	
			<h4>Loderful designs takenposs <br> has  voluptatemut enimminim quis nostrum</h4>
		<!--	<iframe src="https://player.vimeo.com/video/70613839" allowfullscreen></iframe>-->
			<p> Lorem Ipsum has been 23/07/2015</p>
		</div>
		<div class="bnr-btm-right">	
			<p>Lorem Ipsum printing and typesetting industry </p>
			<h3>Magnam aliquam quaerat voluptatemut enim minima veniam, quis nostrum exercitation laboriosam</h3>
			<p>Lorem Ipsum is simply dummy the when an unknown printer took a galley of type and scrambled it to make a type specimen book  It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			<a class="readmore more" href="#"> Read More</a>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="bnr-about">
		<div class="bnr-about-left">	
			<p>Lorem Ipsum printing and typesetting industry </p>
			<h3>Magnam aliquam quaerat voluptatemut enim minima veniam, quis nostrum exercitation laboriosam</h3>
			<ul>
				<li>
					<img src="/images/template/icon3.png" alt=""/>
					<p>Finibus Bonorum et Malorum</p>
				</li>
				<li>
					<img src="/images/template/icon4.png" alt=""/>
					<p>Finibus et Bonorum  Malorum</p>
				</li>
				<li>
					<img src="/images/template/icon5.png" alt=""/>
					<p>ginibusbon orumet Malorum</p>
				</li>
			</ul>
		</div>
		<div class="bnr-about-right">	
			<img src="/images/template/img1.jpg" alt="" />
		</div>
		<div class="clearfix"></div>
	</div>
	<!--//banner-bottom-->    
</Template>