<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title -->
    <title>CareLK </title>

    <!--
    You need to include this script for Google Maps.
    When using Google Maps on your own site you MUST sign up for your own API key at:
    https://developers.google.com/maps/documentation/javascript/tutorial#api_key
    After your sign up replace the key in the URL below..
    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQTpXj82d8UpCi97wzo_nKXL7nYrd4G70"></script>
    <script type="text/javascript" src="/dataTables/datatables.min.js"></script>
    <script type="text/javascript" src="/pdfmake/pdfmake.min.js"></script>
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.20/pdfmake.min.js.map"></script> -->
    <script type="text/javascript" src="/pdfmake/vfs_fonts.js"></script>
    <script type="text/javascript" src="/xeditable/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <link rel="stylesheet" type="text/css" href="/xeditable/bootstrap3-editable/css/bootstrap-editable.css">
    <!-- <link rel="stylesheet" type="text/css" href="/dataTables/datatables.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css"> -->
    <!-- <script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/css/dataTables.bootstrap.min.css"> -->
    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.12/js/dataTables.bootstrap.min.js"></script> -->

</head>
