<template name="mealType">
  <label class="col-sm-4 control-label">Meal</label>
    <div class="col-sm-8">
      <select class="form-control m-b" id="mealselect" name="mealselect">
          <option value="25">1000 ISLAND, SALAD DRSNG,LOCAL 1 TBSP</option>
          <option value="60">1000 ISLAND, SALAD DRSNG,REGLR 1 TBSP</option>
          <option value="135">100% NATURAL CEREAL 1 OZ</option>
          <option value="90">40% BRAN FLAKES, KELLOGG'S 1 OZ</option>
          <option value="90">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="10">ALFALFA SEEDS, SPROUTED, RAW 1 CUP</option>
          <option value="70">ALL-BRAN CEREAL 1 OZ </option>
          <option value="795">ALMONDS, SLIVERED 1 CUP</option>
          <option value="165">ALMONDS, WHOLE 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>
          <option value="795">40% BRAN FLAKES, POST 1 OZ</option>

      </select>
  </div>
  <!-- <label class="col-sm-4 control-label">Day</label>
    <div class="col-sm-8">
      <select class="form-control m-b" id="dayselect" name="dayselect">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
      </select>
    </div> -->
</template>
